<h1> Acceleration Test </h1>
插件安装状态: <span id="pluginsDownload"></span><br><br>

<div id="info">
    <b>Acceleration Info:</b> <span id="acceleration_info"></span><br>
    X: <span id="x"></span><br>
    Y: <span id="y"></span><br>
    Z: <span id="z"></span><br>
    timestamp: <span id="timestamp"></span><br>
    steps: <span id="step"></span><br>

</div>
<br>
error: <span id="error" style="color:red">  </span>
<br>
<br>
watch id: <span id="acceleration_id"> </span>
<br>
<br>
<button id="getAcceleration">Get Acceleration</button>
<br>
<br>
<button id="watchAcceleration">Watch Acceleration ID</button>
<br>
<br>
<button id="stopWatchAcceleration">Stop Watch Acceleration</button>
<br>
