<div id="target_container">
	<div id="setTarget">
	    <block tpl-id="inputTarget">
			<div id="topBar">
		        <button id="goHome">返回</button>
		        <span>聚点</span>
		        <button id="setDestination">目的地</button>         
		    </div>
    	</block>
	</div>

<!-- 
	        <button id="setself">设定当前位置为目的地</button>
	        <div id="r-result">
	            目的地:
	            <input type="text" id="suggestId" size="20" style="width:150px;" />
	        </div> -->
	
	<div id="map"></div>

	<div id="selectDestinationMethod">
		<button id="setself">当前位置为目的地</button>
		<br/>
		<button id="setAddressFormLBS">地图选点为目的地</button>
		<br/>
		<button id="inputAddress">输入目的地</button>	
		<br/>
		<button id="cancelOption">取消</button>	
	</div>
</div>
